/release/
/release32/
/docs/
/debug/
/autom4te.cache/
/ibmulator-0.1.tar.gz
.deps
*.o
Makefile
.dirstamp
*.a
/config.h
/.cproject
/.project
/config.h.in~
/config.log
/config.status
/stamp-h1
/.settings/
