/release*
/info/
/debug/
/autom4te.cache/
/ibmulator-*.tar.gz
.deps
/aclocal.m4
/configure
/config.*
/stamp-h?
Makefile
Makefile.in
.dirstamp
*.a
*.o
*~
/.cproject
/.project
/.settings/
compile
depcomp
install-*
missing
*.log
.autotools
*.xcf
callgrind*
/pgo/
*.pl
/cov-int
*_test.*
*.cap