@font-face {
    font-family: 'perfect_dos_vga_437_winRg';
    src: url('perfect_dos_vga_437_win-webfont.eot');
    src: url('perfect_dos_vga_437_win-webfont.eot?#iefix') format('embedded-opentype'),
         url('perfect_dos_vga_437_win-webfont.woff2') format('woff2'),
         url('perfect_dos_vga_437_win-webfont.woff') format('woff'),
         url('perfect_dos_vga_437_win-webfont.ttf') format('truetype'),
         url('perfect_dos_vga_437_win-webfont.svg#perfect_dos_vga_437_winRg') format('svg');
    font-weight: normal;
    font-style: normal;

}


html, body {
	color: #bbbbbb;
	background-color: #333333;
}

/*
html, body {
	color: #000;
	background-color: #fff;
	text-shadow: 2px 2px 3px #ccc;
}
*/

h1, h2, h3, h4 {
	text-shadow: 2px 2px 3px #000;
}

h1 {
	text-align: center;
	font-family: 'perfect_dos_vga_437_winRg',courier;
	font-size: 32px;
	font-weight: normal;
}

h2 {
	font-family: 'perfect_dos_vga_437_winRg',courier;
	font-size: .7cm;
	font-weight: normal;
}

h3 {
	font-family: courier;
	font-size: .5cm;
}

pre {
	font-size: .3cm;
	margin-left: 2%;
}

a {
	color: #466bb0;
	font-family: courier;
	text-decoration: none;
	font-weight: bold;
	font-size: .45cm;
}

a:hover {
	color: #22aaee;
}

body {
	text-align: left;
	font-family: arial, sans-serif;
	font-size: .4cm;
	margin: 1% 8% 8% 8%;
}

.center {
	text-align: center;
}

ul.menu {
	text-align: center;
}

.menu li {
	display: inline;
	padding-right: 2em;
}

.media .images,
.media .videos {
	display: flex;
	flex-wrap: wrap;
}

.media .videos a {
	position: relative;
}

.media .videos a:after {
	content:'';
	position: absolute;
	display: block;
    	left: 50%;
    	top: 50%;
    	transform: translate(-50%,-90%);
	width: 60px;
	height: 42px;
	background-image: url(media/yt_logo.png); 
	opacity: .6;
}

.media .images img,
.media .videos img {
	margin: 2px;
}

.media video {
	position: relative;
	top: 0;
	left: 0;
}

.contentBlock {
	clear: both;
}

ul, ol {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

li {
	padding: 0.5em;
}

table td {
	
	padding: 8px 16px 8px 0;
	border-bottom: 1px solid #808080;
}

table th.vline,
table td.vline {
	padding-left: 8px;
	border-left: 1px solid #808080;
}

dt {
	font-weight: bold;
}

dd {
	margin-top: 1em;
	margin-bottom: 1em;
}

hr {
	margin: 2em 0 2em 0;
}

